body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.btn {
  border: none;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all ease-out;
}

.btn:hover, .big-btn:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  transition: all ease-out;
}

.nav-link {
  margin-right: 1rem;
  font-weight: 500;
}

.nav-link:hover,
.active-link.hover {
  color: white;
  transform: translateY(-1.5px);
}

.active-link {
  transform: translateY(-1.5px);
}

.trans-input {
  border-width: 1px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 11px;
}

.trans-label {
  font-size: 0.7rem;
  display: flex;
  font-weight: 500;
  margin-bottom: 0.25rem;
  padding-top: 4px;
}

.trans-update {
  display: flex;
  border-width: 1px;
  padding: 0px;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

/* Cash Flow Table */
tr th {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-right-width: 1px;
  font-size: 12px;
  text-transform: capitalize;
}

tr td {
  font-size: 11px;
  padding: 0.25rem;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0;
  position: relative;
  text-transform: capitalize;
}

textarea {
  justify-content: center;
  resize: vertical;
}



@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
